/* Customize css style */

.row {
    margin-left: -15px;
    margin-right: -15px;
}

blockquote {
    border-left: medium none;
    color: #fff;
    font-size: 1.4em;
    margin-bottom: 0;
    padding: 5px;
}


.primary, .text-primary {
    color: #d23830;
}

a:hover{
  text-decoration: none;
  color:#ffffff;
}

.form-inline {
    display: inline-block;
    margin-left: 10px;
}

/* fix ended */




/* affix navigation */
.affix {
  top: 0;
  width: 100%;
}

.affix + .container-fluid {
  padding-top: 70px;
}


/* Mega Menu */
.navbar {
  margin-bottom: 0;
  min-height: 40px;
}

.navbar-default{
color: #222222;
background-color: #ffffff;
border-color: #aca1a2;
}
.navbar-default .navbar-nav > li > a{
	color:#000000;
  padding: 10px 15px;
}
.navbar-default .navbar-nav > .dropdown > a .caret{
	border-top-color: #222222;
    border-bottom-color: #222222;
}
.navbar-default .navbar-brand{
	color:#000000;
}
.menu-large {
  position: static !important;
}
.megamenu{
  padding: 20px 0px;
  width:100%;
}
.megamenu> li > ul {
  padding: 0;
  margin: 0;
}
.megamenu> li > ul > li {
  list-style: none;
}
.megamenu> li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .megamenu{
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .megamenu> li {
    margin-bottom: 30px;
  }
  .megamenu> li:last-child {
    margin-bottom: 0;
  }
  .megamenu.dropdown-header {
    padding: 3px 15px !important;

  }
  .navbar-nav .open .dropdown-menu .dropdown-header{
	  color:#fff;
  }
}


/* Design for website */

.top-header {
  background-color: #222222;
  color:#ffffff;
  padding-top:20px;
  padding-bottom:20px;
}

.hero-homepage {
    background: rgba(0, 0, 0, 0) url("../img/homepage-hero-tablet.jpg") repeat scroll center top / cover ;
}

.bg-dark-transparent-1{
  background:hsla(0,0%,6%,.85);
  color:#fff;
  padding-top: 20px;
  padding-bottom: 40px;
}

.bg-primary-transparent-1 {
    background: rgba(189, 102, 23, 0.9) none repeat scroll 0 0;
    color: #fff;
    padding: 30px;
}

.aligner {
    align-items: center;
    display: flex;
}


.bg-light-1 {
  background-color: #e6e6e6;
  padding: 30px;
}

/* navigational tab */

.nav-tabs > li > a {
    background: #f9c493 none repeat scroll 0 0;
    color: #222222;
}

.nav-tabs li {
    font-size: 1.4em;
    font-weight: 200;
    width: 25%;
}

.tab-content {
    background: #fff none repeat scroll 0 0;
    padding: 20px 30px;
}

.list-inline, .list-unstyled {
    list-style: outside none none;
    padding-left: 0;
}

.tab-content ul li a::after {
    color: #fff;
    content: "\f0da";
    font-family: FontAwesome;
    font-size: 1.4em;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.tab-content ul li a {
    background: #333 none repeat scroll 0 0;
    border-bottom: 3px solid #e47f23;
    color: #fff;
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    padding: 10px 40px 10px 20px;
    position: relative;
}

.tab-content ul li a:hover {
    background-color: #e47f23;
    text-decoration: none;
}

/* Special link highlighter */
.text-section-about {
    color: #e47f23;
}

.special-link-bg {
  background-color: #222222;
  padding: 20px;
}

.special-link-bg:hover {
  background-color: #e47f23;
  color: #ffffff;
}

.special-link-bg:hover .text-section-about {
  color: #ffffff;
}

.special-link, .special-link:hover {
  color: #ffffff;
  text-decoration: none;
}

.btn-square {
    border: 1px solid #fff;
    display: inline-block;
    font-size: 1.3em;
    padding: 10px 16px;
    text-transform: uppercase;
}



/* Slider style  */
.text-overlay.column {
    width: 75%;
}

.text-overlay {
    background: hsla(0, 0%, 6%, 0.85) none repeat scroll 0 0;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    text-align: center;
    width: 40%;
}

button.looper.left {
    left: 20px;
}

button.looper.right {
    right: 20px;
}

button.looper {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 4em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/* table display image  */

.guarantees-right {
    background: rgba(0, 0, 0, 0) url("../img/guarantees-right.jpg") repeat scroll center top / cover ;
 /*    vertical-align: middle; */
    padding: 30px;
}

.table-column {
    display: table-cell;
    float: none;
    vertical-align: top;
} 


.carousel {
    position: relative;
    top: 30px;
    background: rgba(34 , 34, 34, 0.9) none repeat scroll 0 0;
    padding: 30px;
}

.carousel-inner {
    overflow: hidden;    
    position: relative;
    width: 100%;
}

.global-internal-nav ol a {
    display: block;
    padding: 10px;
}
a, .global-internal-nav ol a:hover {
    color: #e47f23;
    text-decoration: none;
}

.global-internal-nav {
    background: hsla(0, 0%, 6%, 0.85) none repeat scroll 0 0;
    border-bottom: 1px solid #000;
    bottom: 0;
    height: 41px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.list-inline > li:hover , .list-inline > li:hover > a {
  background-color:  #e47f23;
  color: #ffffff;
}


.copyright {
  background: #fff none repeat scroll 0 0;
  padding: 20px 30px;

  margin-bottom: 41px;
}

.footer-info {
  background: #333 none repeat scroll 0 0;
  padding: 20px 30px;
  color: #e47f23;
}

.fa, .glyphicon {
  color: #e47f23;
}

a .fa:hover {
  color: #ffffff;
}

.footer-info a {
  color: #ffffff;
  padding: 5px 0;
  display: inline-block;
}

.footer-info a:hover {
  text-decoration: underline;
}